*{
    padding: 0px;
    margin: 0px;
}
html {
    border: rgba(196, 42, 42, 1)20px ridge;
}

.logo{
    position: absolute;
    width: 384px;
    height: 144px;
    left: 183px;
    top: 52px;

}

.pikachu{
    position: absolute;
    width: 200px;
    height: 144px;
    left: 550px;
    top: 100px;
    rotate: 340deg;


}

.search {
    display: flex;
    position: absolute;
    left: 280px;
    top: 200px;
    
}

input[type=search] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: #CCC;
    color: rgb(6, 6, 6);
}

.filter {
    background-color: rgb(252, 251, 250);
    height: 30px;
    width: 70px;
    font-family: 'Jockey One';
    font-style: normal; 
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #C82F2D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.07deg);

}

.resultado {
    display: flex;
    flex-direction: row;
    padding: 100px;
    
}


.containerglobal{

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 2000px;
}
.contenedorleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background: linear-gradient(to left, transparent, rgb(255, 187, 0) );


}

.contenedorright{
    position: absolute;
    width: 0;
    height: 1312px;
    left: 688px;
    top: 0px;
    display: flex;
    width: 55%;
    background-image: url(img/pokedex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    


}
.pokedata {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0px;
    position: absolute;
    top: 300px;
    width: 50%;
    
}


.card{
    background-color: rgba(194, 217, 173, 1);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    width: 220px;
    height: 300px;
    padding: 10px;
    margin: 10px;  
    box-sizing: border-box;  
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}


@media screen and (min-width: 768px) {
    .pokedata {
    justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .pokedata {
    width: 50%;
    margin: 0 auto;
    }
}

.card:hover{

    transform: translateY(-15px);
    box-shadow:  12px 30px rgba (0,0,0,0.2);
}


.contenedorbotones{

    display: flex ;
    position: absolute;
    width: 732px;
    height: 215px;
    left: 32px;
    top: 1300px;
    background: #C42A2A;
    border: 5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
    align-items: center;
}

button{

    font-family: 'Jockey One';
    font-style: normal; 
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #C82F2D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.07deg);
    }

.boton1 {
    box-sizing: border-box;
    width: 112px;
    height: 109px;
    left: 57px;
    top: 770px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 75px;

}

.boton2{
    box-sizing: border-box;
    width: 150px;
    height: 109px;
    left: 231px;
    top: 770px;
    background: #D9D9D9;
    border: 1px solid #000000;
}

.boton3{
    box-sizing: border-box;
    width: 150px;
    height: 109px;
    left: 412px;
    top: 770px;
    background: #D9D9D9;
    border: 1px solid #000000;
}

.boton4{
    box-sizing: border-box;
    width: 150px;
    height: 109px;
    left: 591px;
    top: 770px;
    background: #D9D9D9;
    border: 1px solid #000000;
}



